.profile-tab {
  position: absolute;
  right: 7.5%;
  top: 10vh;
  width: 200px;
  height: 100px;
  background-color: var(--dark3);
  /* border: 1px solid var(--primary); */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.profile-tab button {
  padding: 8px 13px;
  background-color: var(--dark2);
  color: var(--primary);
  border: 1px solid var(--dark2);
  font-weight: lighter;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.profile-tab button:hover {
  border: 1px solid var(--primary);
}

.profile-tab-active {
  display: flex;
}

.Profile {
  transition: all 200ms ease-in-out;
}
