@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

:root {
  --primary: #66fcf1;
  --primary2: #45a29e;
  --dark: #0b0c10;
  --dark2: #1b232c;
  --light: #c5c6c7;
  --light2: #c5c6c730;
  --white: #fff;
  --black: #000;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark);
}

h1 {
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  color: var(--primary);
}

.field {
  width: 720px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--dark2);
}

p {
  font-size: 1.2rem;

  margin-bottom: 20px;
}

input[type="text"] {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light);
  padding: 10px;
  font-size: 1rem;
  transform: translateY(-10px);
}

input[type="text"]:focus {
  border-bottom: 1px solid var(--primary);
}

label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

label > input {
  margin-right: 10px;
}

.dropdown {
  width: 30%;
  outline: none;
  background-color: var(--dark2);
  color: var(--primary);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

input[type="radio"] {
}

.line {
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: var(--light2);
}
