.templates-container {
  max-width: 90%;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template {
  width: 160px;
  height: 120px;
  margin: 0 20px;
  background-color: var(--dark2);
  border: 1px solid var(--dark);
  transition: border 200ms ease-in-out;
}

.template:hover {
  border: 1px solid var(--primary);
}

.create-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
