.form-field {
  margin-top: 20px;
  background-color: var(--dark2);
  padding: 15px;
}

.form-field .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field .wrapper input {
  padding: 10px;
  width: 400px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light);
  outline: none;
  transition: all 200ms ease-in-out;
}

.form-field .wrapper > input:focus {
  border-bottom: 1px solid var(--primary);
}

.Dropdown {
  background-color: var(--dark2);
  color: var(--light);
}

/* .custom-select {
  position: relative;
  font-family: Arial;
  width: 120px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}  */
