.Dropdown p {
  color: var(--light);
  position: relative;
  user-select: none;
  cursor: pointer;
}

.display {
  padding: 10px;
  width: 180px;
  border: 1px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.display:hover {
  border: 1px solid var(--primary);
}
.options {
  width: 200px;
  border: 1px solid var(--primary);
  background-color: var(--dark2);
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
}

.options p {
  padding: 10px;
  transition: all 200ms ease-in-out;
}
.options p:hover {
  background-color: var(--primary);
  color: var(--dark);
}

.options-active {
  display: block;
}

.display-active {
  border: 1px solid var(--primary);
}
