@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

:root {
  --primary: #66fcf1;
  --primary2: #45a29e;
  --dark: #0b0c10;
  --dark2: #1b232c;
  --dark3: #28333f;
  --light: #c5c6c7;
  --light2: #c5c6c730;
  --white: #fff;
  --black: #000;
  --error: #ff0000;
  --shadow: #0b0c108a;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark);
}
