.CreateForm {
  width: 720px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-name {
  font-size: 2rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--light2);
  background: transparent;
  padding: 10px;
  color: var(--light);
  font-weight: 500;
  transition: border 200ms ease-in-out;
}

.form-name::placeholder {
  color: var(--light2);
}

.form-name:focus {
  border-bottom: 2px solid var(--primary);
}

/* .fields {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark2);
  margin-top: 30px;
  margin-left: 100px;
}
span {
  display: inline;
}

#question_field {
  float: left;
  background-color: var(--dark2);
  width: 35%;
  margin: 15px 0 0 30px;
  border: none;
  border-bottom: 2px solid var(--light);
}

#dropdown {
  width: 20%;
  float: right;
  outline: none;
  margin-top: 15px;
  margin-right: 100px;
  background-color: var(--dark2);
  border: none;
  border-bottom: 2px solid var(--light);
  color: var(--primary);
}

#answer_input {
  outline: none;
  background-color: var(--dark2);
  width: 30%;
  border: none;
  border-bottom: 2px solid var(--light);
  margin: 40px 0 0 30px;
} */

.add-field-button {
  background-color: var(--dark2);
  padding: 15px;
  border: 1px solid var(--dark2);
  transition: border 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-field-button > * {
  margin: 0 5px;
  color: var(--primary);
}
.add-field-button:hover {
  border: 1px solid var(--primary);
}

.add-field-button:active {
  background-color: var(--dark);
}
