.CreateForm {
  width: 720px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-name {
  font-size: 2rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--light2);
  background: transparent;
  padding: 10px;
  color: var(--light);
  font-weight: 500;
  transition: border 200ms ease-in-out;
}

.form-name::placeholder {
  color: var(--light2);
}

.form-name:focus {
  border-bottom: 2px solid var(--primary);
}

.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons-container > button {
  margin: 20px 0;
  background-color: var(--dark2);
  width: 49%;
  padding: 15px;
  border: 1px solid var(--dark2);
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons-container > button > * {
  margin: 0 5px;
  color: var(--primary);
}
.buttons-container > button:hover {
  border: 1px solid var(--primary);
}

.buttons-container > button:active {
  background-color: var(--dark);
}

.buttons-container > .publish-form-button {
  background-color: var(--primary);
  transition: all 0ms ease-in-out;
}

.buttons-container > .publish-form-button > * {
  color: var(--dark2);
}

.buttons-container > .publish-form-button:hover {
  border: 1px solid var(--dark2);
}

.buttons-container > .publish-form-button:active {
  background-color: var(--primary2);
}
