.nav-container {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  position: sticky;
  background-color: var(--dark);
}

nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: var(--light2);
}

.logo {
  color: var(--primary);
}

.profile {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile .profile-name {
  color: var(--light);
}

.profile .profile-pic-container {
  width: 50px;
  height: 50px;
  background-color: var(--light);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin-left: 20px;
}
